.title {
    height: 80px;
    display: flex;
    width: auto;
    justify-content: center;
    margin-bottom: 2em;
}

.title h1 {
    font-size: 50px;
    font-weight: 300;
}

.sobre_nos {
    height: 80vh;
    width: auto;
    display: flex;
    justify-content: space-around;
}

.sobre {
    display: flex;
    height: 80vh;
    width: inherit;
    flex-direction: row;
    transform: translateY(200px);
    opacity: 0;
}

.eco {
    display: flex;
    height: 70vh;
    width: inherit;
    flex-direction: row;
    transform: translateY(700px);
    opacity: 0;
}

.eco_treinos {
    height: 70vh;
    width: auto;
}

.texto {
    display: flex;
    flex-direction: column;
    margin: 3em 4em;
    height: 400px;
    width: 800px;
}

.texto h2 {
    font-size: 40px;
    font-weight: 300;
    margin-bottom: 1em;
}

.texto p {
    font-size: 20px;
}

.sobre_nos img {
    height: 340px;
    width: 500px;
}

.kids {
    display: flex;
    height: 70vh;
    width: auto;
    transform: translateY(700px);
    opacity: 0;
}

.carousel {
    width: 500px;
}

.carousel {
    margin: 2em;
    height: 350px;
    width: 900px;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media screen and (max-width: 600px) {
    .about {
        height: 320vh;
        width: 100%;
    }

    .title {
        height: 70px;
        display: flex;
        align-self: center;

        width: 100%;
        justify-content: center;
        margin-bottom: 0;
        align-items: center;
        border-bottom: solid 1px black;
    }

    .title h1 {
        font-size: 35px;
        font-weight: 300;
    }

    .sobre_nos {
        height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;

    }

    .sobre {
        display: flex;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        align-items: center;
        transform: translateY(200px);
        opacity: 0;
    }

    .eco {
        display: flex;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        transform: translateY(700px);
        opacity: 0;
    }

    .eco_treinos {
        height: 70vh;
        width: auto;
    }

    .texto {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0;
        height: 400px;
        width: 100%;
        text-align: center;

    }

    .texto h2 {
        font-size: 30px;
        font-weight: 300;
        margin-bottom: 1em;
    }

    .texto p {
        font-size: 15px;
    }

    .sobre_nos img {
        height: 250px;
        width: 100%;
    }

    .kids {
        display: flex;
        height: 80vh;
        flex-direction: column-reverse;
        width: 100%;
        transform: translateY(700px);
        opacity: 0;
        align-items: center;
    }

    .carousel {
        margin: 0;
        height: 400px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

}