.home {
    background-color: rgb(255, 255, 255);
    height: auto;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.images {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
}

.imgContainer {
    overflow: hidden;
    width: 400px;
    height: 600px;
    margin: 0 10px;
}

img {
    display: block;
    width: 100%;
    height: auto;
    cursor: pointer;
    transition: transform 0.4s ease-in-out;
}

.imgContainer:hover img {
    transform: scale(1.1);
    transform-origin: center center;
}

.about {
    height: 80vh;
    width: auto;
    display: flex;
    justify-content: space-around;
    transform: translateY(700px);
    opacity: 0;
}


.text {
    display: flex;
    flex-direction: column;
    width: 700px;
    height: 400px;
}

.text h2 {
    font-size: 40px;
    margin-bottom: 1em;
}

.btn {
    align-self: center;
}

.logo {
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about img {
    height: inherit;
    width: auto;
    cursor: default;
}

.competition {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow:auto; 
    align-items: center;
    display: flex;
    flex-direction: column-reverse;
    justify-content:end;
}
.boxes{
    position: absolute;
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
}
.turmas {
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.turmas h1 {
    color: aliceblue;
    font-weight: 500;
    font-size: 30px;
    text-transform: uppercase;
}
.turmasSection{
    display: flex;
    align-self: center;
    height: 80%;
    width: 80%;
}
.turmasSection article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    width: 400px;
    margin: 1em;
    height: 300px;
    cursor: pointer;
    border-top: solid white 1px;
    transition: all 0.3s ease-in-out;
}
.turmasSection article:hover{
    background-color: rgb(255, 255, 255);
    color: black;
}
.turmasSection article h1{
    text-transform: uppercase;
    font-size: 27px;
    font-weight: 500;
    margin: 0 0 2em 2em;

}
.turmasSection article p{
    font-size: 15px;
    margin:0 2em;
}

@media screen and (max-width: 600px) {
    .home {
        background-color: rgb(255, 255, 255);
        height: auto;
        box-sizing: border-box;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    
    .about {
        height: 100vh;
        width: auto;
        display: flex;
        flex-direction: column;
        transform: none;
        justify-content: center;
        opacity: 1;
        margin: 3em 0;
    }
    .text {
        display: flex;
        flex-direction: column;
        width:90%;
        align-self: center;
        height: 60vh;
        margin: 0;
    }
    
    .text h2 {
        font-size: 37px;
        margin-bottom: 1em;
        align-self: center;
    }
    .text p{
        font-size: 14px;
        text-align: center;
    }
    .logo {
        margin: 0;
        display: flex;
        height:40vh;
        width: 100%;
        align-self: center;
        align-items: center;
        justify-content: center;
    }
    .about img {    
        height: 300px;
        width: auto;
        margin: 0;
        cursor: default;

    } 
    .images {
        align-self: center;
        display: flex;
        width: 100%;
        height: 37vh;
        margin-bottom: 0em;
        margin-top: 1em;
        justify-content: center;    
    }
    .imgContainer {
        overflow: hidden;
        height: 40vh;   
        margin: 0 2px;
    }
    .imgContainer img {
        display: block;
        width: 160px;
        height: 35vh;
        cursor: pointer;
        transition: none;
    }
    .imgContainer:hover img {
       transform: none;
    }
    .btn {
        margin-top: 1em;
    }
}