.box {
    height: 300px;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.carousel{
    display: flex;
    height: 300px;
    width: 450px;
    overflow-x: auto;
    scroll-behavior: smooth;
    flex: none;
}
.box button {
    height: 50px;
    width: 30px;
    border: none;
    background-color: white;
}
.carousel::-webkit-scrollbar{
    display: none;
}
@media screen and (max-width: 600px) {
    .box {
        height: 200px;
        width: 500px;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .carousel{
        display: flex;
        height: 230px;
        width: 80%;
        overflow-x: auto;
        scroll-behavior: smooth;
        flex: none;
    }
}