.cabecalho {
    background-color: rgb(255, 255, 255);
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 300px;
    margin: 2em 0 2em 5em;
    display: flex;
}

.logo img {
    height: 35px;
    width: 50px;
}

.logo a {
    text-decoration: none;
    color: rgb(1, 1, 1);
    display: flex;
}

.logo a h1 {
    align-self: center;
    font-size: 20px;
    margin-right: 5px;
}

.cabecalho ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    width: 40%;
    margin-right: 2em;
}

.cabecalho ul span {
    margin-top: 2px;
    margin-left: 4px;
}

.cabecalho ul .a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: rgb(0, 0, 0);
    height: 116px;
    width: 120px;
    transition: color 0.2s ease;
    font-size: 15px;
    margin: 1em;
}

.cabecalho ul a:hover {
    color: rgb(157, 155, 155);
}

.menu {
    position: relative;
}

.menu button {
    border: none;
    height: 50px;
    width: 90px;
    background-color: white;
}

.itens {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: rgb(255, 255, 255);
    width: 230px;
    height: 250px;
    right: 0;
}

.itens a {
    text-decoration: none;
    margin: 1em;
    height: 20px;
    width: 300x;
    color: rgb(0, 0, 0);
    font-size: 14px;
}

@media screen and (max-width: 600px) {
    .cabecalho {
        max-width: 600px;
        height: 140px;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .logo {
        width: 100%;
        height: 300px;
        margin: 0;
        display: flex;
        justify-content: center;
        box-shadow:  0 0 2px;
    }

    .logo img {
        height: 45px;
        width: 50px;
        align-self: center;
    }

    .cabecalho ul {
        height: 60px;
        width: 100%;
        margin-right: 0;
    }

    .cabecalho ul .a {
        display: flex;
        text-decoration: none;
        color: rgb(0, 0, 0);
        height: 116px;
        width: 120px;
        transition: color 0.2s ease;
        font-size: 13px;
        margin: 6px;
    }
    .menu button {
        border: none;
        height: 50px;
        width: 90px;
        background-color: inherit;
        font-size: 13px;
    }
    .itens a {
        text-decoration: none;
        margin: 1em;
        height: 27px;
        width: 300x;
        color: rgb(0, 0, 0);
        font-size: 14px;
    }

}